@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

$family-primary: 'Raleway';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div.main {
  margin: 0;
}

a img {
  width: 50px;
  height: 50px;
}

h2, h4 {
    font-weight: 700;
    position: relative;
    text-align:center;
    margin: 0;
    font-size: 100px;
    text-shadow: 0 2px 3px #000;
}

.homeintro {
  padding-top: 250px;
}

div.titleinfo {
  display: flex;
}

.detailtitle {
  margin-left: 10px;
}

.detailsub {
  margin-left: 60px;
  margin-top: 10px;
}

.contentdetail {
  margin-left: 100px;
}


.video-container {
    height:100vh;
    width: 100vw;
    position: relative;
}

.content{
text-overflow: ellipsis;

}

nav.navbar.has-background-white {
margin-top: 30px;
}

a.social-icon.icon1{
  margin-left: 470px;
}
a.social-icon.icon1, a.social-icon.icon2, a.social-icon.icon3 {
  margin-right: 30px;
}

a.social-icon:hover {
  transform: scale(1.3);
  transition: 1s;
}

video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

footer {
  text-decoration: none;
  width: 100vw;
}


.registercontainer {
  display: flex;
}

.registerbox {
  box-shadow: 5px 10px;
}

.registerform {
  width: 350px;
  height: 370px;
}

div.tile.is-parent {
  padding: 0px;
}

.cherry {
width: 390px;
height:440px;
display: flex;
// margin-top: 12px;
margin-left: 180px;
border-radius: 10px;
}

.registerbutton {
  width: 350px;
  margin-top: 5px;
}


.loginsubmit {
width: 360px;
margin-top: 5px;
}

.emaillabel {
padding-top: 100px;
}

.usernamelabel {
  margin-top: 30px;
}

.profileimage{
border-radius: 100px;
}

.editbutton {
  margin-top:30px;
  width:260px;
}

.formbox {
  width: 100vw;
}

.formcontainer {
  margin-right: 100px;
}

.eventeditlist {
  margin-right: 350px;
}

.jobeditlist {
  margin-right: 180px;
}

.newseditlist {
  margin-right: 310px;
}

label.checkbox {
  margin-right:10px;
}

.newblogsubmit{
  width: 200px;
  margin-top: 20px;
}

.cancelcreateblog {
  width: 200px;
  margin-top: 20px;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



@import 'bulma'
